print('Hello World')

In [1]:
# First python program to add two numbers
a,b=10,15
print("sum ",a+b)

sum  25

In [2]:
# python program to find out the remainder of two numbers
a,b=85,8
print("remainder ",a%b)

remainder  5

In [3]:
# python program to multiply two numbers
a,b=4,5
print("Multiplication ",a*b)

Multiplication  20

In [4]:
print("Name:Suvam Kumar Nanda\nRoll no:192176\nBranch:CSE\nSection:D")

Name:Suvam Kumar Nanda
Roll no:192176
Branch:CSE
Section:D

In [5]:
a = float(input("Enter your age : "))
print(a+5)

Enter your age : 45
50.0

In [6]:
import calendar
yy=int(input("Enter year:"))
mm=int(input("Enter month:"))
print(calendar.month(yy,mm))

Enter year:2060
Enter month:1
    January 2060
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [7]:
# program in python to add two complex numbers
c1=2.8+5.4j
c2=3.2+4.6j
c3=c1+c2
print("Sum= ",c3)

Sum=  (6+10j)

In [8]:
# program in python to convert a float type number into an integer typr number
x=20.08
int(x)

20

In [9]:
# program in python to convert an integer number into float type number
y=87
float(y)

87.0

In [10]:
# program in python to convert an integer type number into complex number
t=27
complex(t)

(27+0j)

In [11]:
# program in python to convert an integer number into complex number
a=5
b=-8
complex(a,b)

(5-8j)

In [12]:
# program in python to convert octal,binary,hexadecimal numbers into decimal number
n1=0O17
n2=0B1110010
n3=0X1c2
int(n1)
print("Octal 17= ",n1)
int(n2)
print("Binary 1110010= ",n2)
int(n3)
print("Hexadecimal 1c2= ",n3)

Octal 17=  15
Binary 1110010=  114
Hexadecimal 1c2=  450

In [13]:
str="1c2"
n= int(str, 16)
print(n)

450

In [14]:
# program in python to convert the numbers into decimal number systems
s1="17"
s2="1110010"
s3="1c2"
n=int(s1,8)
print("Octal 17= ",n)
n=int(s2,2)
print("binary 1110010= ",n)
n=int(s3,16)
print("Hexadecimal 1c2= ",n)

Octal 17=  15
binary 1110010=  114
Hexadecimal 1c2=  450

In [15]:
# program in python to convert the decimal number into other number systems
a=10
b=oct(a)
print(b)
b=bin(a)
print(b)
b=hex(a)
print(b)

0o12
0b1010
0xa

In [16]:
# program in python to add two equal numbers
a=b=10
print("sum= ",a+b)

sum=  20

In [17]:
# program in python for boolean expression(with static initialization)
a,b=10,5
if(a>b):print("Hello World")

Hello World

In [18]:
# program in python for Boolean expression (with dynamic initialization)
a=int(input("Enter the value"))
b=int(input("Enter the value"))
if(a>b):print("Hello World")

Enter the value4
Enter the value2
Hello World

In [19]:
a=10>5
print(a)
a=5>10
print(a)

True
False

In [21]:
# program in python the  verify function of string datatype
str="Welcome"
print(str)

Welcome

In [24]:
str="""welcome to 'Bhadrak'"""
print(str)

welcome to 'Bhadrak'

In [34]:
# program in python to distinguish the function of slice operator in str datatype
s="Suvam Kumar Nanda"
print(s)
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])
print(s[6])
print(s[7])
print(s[8])
print(s[9])
print(s[10])
print(s[11])
print(s[12])
print(s[13])
print(s[14])
print(s[15])
print(s[16])
print(s*2)
print(s[4:8])

Suvam Kumar Nanda
S
u
v
a
m

K
u
m
a
r

N
a
n
d
a
Suvam Kumar NandaSuvam Kumar Nanda
m Ku

In [5]:
# program in python for bytes datatype
elements=[10,20,0,26]
x=bytes(elements)
print(x[0])

10

In [37]:
# program in python to uderstand the bytesarray
elements=[20,25,68,89]
x=bytes(elements)
for i in x:print(i)

20
25
68
89

In [3]:
# program in python to understand bytearray
elements=[12,56,87,25,36]   
x=bytearray(elements)
print(x[0])
x[0]=45
x[1]=57
print(x[0])

12
45

In [6]:
# program in python to understand bytesarray type array
elements=[10,20,30,40,50]
x=bytearray(elements)
x[0]=89
x[1]=34
for i in x:print(i)

89
34
30
40
50

In [10]:
# program in python to understand tuple datatype
tpl=(28,25,-45,'mukesh',"rahul")
print(tpl)
print(tpl[0])
print(tpl[1])
print(tpl[2])
print(tpl[3])
print(tpl[4])

(28, 25, -45, 'mukesh', 'rahul')
28
25
-45
mukesh
rahul

In [4]:
# program in python to understand range datatype
r=range(10,30,2)
for i in r:print(i)

10
12
14
16
18
20
22
24
26
28

In [5]:
# program in python to understand the set datatypes
s=set("Hello")
print(s)

{'l', 'e', 'H', 'o'}

In [6]:
# program in python to understand set datatype
s={45,35,39,23,925,925,35,39}
print(s)

{35, 39, 45, 23, 925}

In [7]:
s.update([50,60])
print(s)

{35, 39, 45, 50, 23, 60, 925}

In [8]:

s.remove(50)
print(s)

{35, 39, 45, 23, 60, 925}

In [11]:
# program in python to understand the frozenset datatype
s={19.63,74,95,234}
print(s)
fs=frozenset(s)
print(fs)

{234, 74, 19.63, 95}
frozenset({234, 74, 19.63, 95})